
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1f1;
  color: #212121;
}


header {
  background-color: #1799da;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}



.contenedor-principal {
  display: flex;
  height: 600px;
}



.sidebar {
  background-color: #ffffff;
  padding: 20px;
  flex: 1;
  border-right: 2px solid #e0e0e0;
}                            

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #0d47a1;
  font-weight: bold;
  transition: color 0.2s;
}

.sidebar a:hover {
  color: #1976d2;
}


.contenido {
  flex: 3;
  padding: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.tarjeta {
  width: 30%;
  min-width: 250px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tarjeta:hover {
  transform: scale(1.05) ;
  box-shadow: 0 8px 20px ;
}


.arsenal {
  background-color: #d32f2f;
  color: white;
}
.barcelona {
  background-color: #3f51b5;
  color: white;
}
.inter {
  background-color: #1a237e;
  color: white;
}
.chile {
  background-color: #b71c1c;
  color: white;
}
.colo-colo {
  background-color: #eeeeee;
  color: #212121;
}
.marsella {
  background-color: #81d4fa;
  color: #00334d;
}


footer {
  text-align: center;
  padding: 15px;
  background-color: #0d47a1;
  color: white;
}

